---
page_title: "Provider: Dirhash"
description: |-
  Calculate checksum for a given directory
---

# Dirhash Provider

Dirhash was created to calculate checksum of a directory, 
a useful provider if you try to make Terraform react and make changes 
based on whether changes have been made inside a directory or not.

## Data Source "dirhash_sha256"

As noted above, the Dirhash provider can calculate the checksum of a directory, 
the data_source `dirhash_sha256` can be used to retrieve the SHA256 of a directory.

For example:

{{ tffile "examples/provider/provider.tf" }}
{{ tffile "examples/data-sources/dirhash_sha256/data-source.tf" }}
